{% extends "base.html" %}

{% block 'title' %}
    TabelList
{% endblock %}

{% block 'content' %}
      <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            服务器展示页
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                            <tr>
                                                <th>主机名</th>
                                                <th>IP地址</th>
                                                <th>服务器系统</th>
                                                <th>是否在线</th>
                                                <th>服务器型号</th>
                                            </tr>
                                        {% for line in table_list %}
                                            <tr>
                                                <td>
                                                    <a href="/service/content/{{ line.id }}">
                                                    {{ line.host }}
                                                    </a>
                                                </td>
                                                <td>{{ line.ip }}</td>
                                                <td>{{ line.system }}</td>
                                                <td>是</td>
                                                <td>{{ line.model }}</td>
                                            </tr>
                                        {% endfor %}
                                </thead>
                            </table>
                            <!-- /.table-responsive -->
                            <div class="well">
                                <h4>DataTables Usage Information</h4>
                                <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                                <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}