{% extends "base.html" %}

{% block 'title' %}
    用户注册
{% endblock %}
{% block 'content' %}
    <form action="" method="post" class="register_form" id="register_form">
        <p><label for="id_username">用户名称:</label> <input class="form-control" id="id_username" maxlength="32" name="username" type="text"></p>
        <p><label for="id_password">用户密码:</label> <input class="form-control" id="id_password" maxlength="32" name="password" type="text"></p>
        <p><label for="id_email">用户邮箱:</label> <input class="form-control" id="id_email" name="email" type="text"></p>
        <p><label for="id_phone">用户手机:</label> <input class="form-control" id="id_phone" maxlength="18" name="phone" type="text"></p>
        <p><label for="id_photo">Photo:</label> <input id="id_photo" name="photo" type="file"></p>
        <input type="submit" value="保存用户" class="btn btn-primary">
    </form>
    {{ errors }}
{% endblock %}
{% block 'action' %}
<script>
$('#id_username').val('{{ user.username }}');
$('#id_password').val('{{ user.password }}');
$('#id_email').val('{{ user.email }}');
$('#id_phone').val('{{ user.phone }}');
$('#id_photo').val('{{ user.photo }}');
</script>
{% endblock %}